<% include partials/header.ejs %>

<img src="images/profile-placeholder.png" id="profile_pic" />

<h1>
  <!-- username -->
</h1>
<p>
  Last Login:
  <!-- last_login -->
</p>

<button type="button" class="btn btn-success">Book a Tutor</button>
<div id="upcoming_sessions">
  <h1>Upcoming Sessions</h1>
  <table>
    <tr>
      <th>Date</th>
      <th>Tutor</th>
      <th>Subject</th>
    </tr>
  </table>

  <!-- upcoming_sessions -->
</div>

<h1>User Profile</h1>
<h3>Username:</h3>
<!-- username -->
<h3>Name:</h3>
<!-- full_name -->
<h3>Date of Birth:</h3>
<!-- DOB -->
<h3>Location:</h3>
<!-- location -->
<h3>Grade:</h3>
<!-- grade -->
<h3>Subjects:</h3>
<!-- subjects -->

<div id="history">
  <tr>
    <th>Date</th>
    <th>Tutor</th>
    <th>Subject</th>
    <th>Rating</th>
  </tr>
</div>

<% include partials/footer.ejs %>
