<% include partials/header.ejs %>

<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-expand-lg">
  <a href="" class="navbar-brand"> <img id="logo" src="images/logo.svg" /> </a>
  <button
    type="button"
    class="navbar-toggler"
    data-toggle="collapse"
    data-target="#myNav"
  >
    Click
  </button>
  <div class="collapse navbar-collapse" id="#myNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="#" class="nav-link active"> Learn More </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link"> About Us </a>
      </li>
    </ul>
  </div>
</nav> -->

<h1>High quality tutoring.</h1>
<h1>Anytime.</h1>
<h1>Anywhere.</h1>

<button class="landing">Sign Up</button>

<button class="landing">Login</button>

<img src="\images\home_page_photo.jpg" <% include partials/footer.ejs %>
