<% include partials/header.ejs %>

<h1>High quality tutoring.</h1>
<h1>Anytime.</h1>
<h1>Anywhere.</h1>

<button class="landing">Sign Up</button>

<button class="landing">Login</button>

<img src="\images\home_page_photo.jpg" <% include partials/footer.ejs %>
